:root {
--ls-font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Apple Color Emoji", Arial, sans-serif;
--ls-page-text-size: .9em;
--ls-page-title-size: 36px;
}

.dark-theme, html[data-theme=dark] {
--primary-hue: 220;
--bg-saturation: 7%;
--bg-lightness: 13%;

--secondary-hue: 216;
--link-saturation: 87%;
--link-lightness: 75%;

--ls-primary-background-color: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + 0%));
--ls-secondary-background-color: hsl(var(--primary-hue), calc(var(--bg-saturation) - 1%), calc(var(--bg-lightness) + 3%));
--ls-tertiary-background-color: hsl(var(--primary-hue), calc(var(--bg-saturation) - 2%), calc(var(--bg-lightness) + 6%));
--ls-quaternary-background-color: hsl(var(--primary-hue), calc(var(--bg-saturation) - 3%), calc(var(--bg-lightness) + 8%));

--ls-table-tr-even-background-color: var(--ls-tertiary-background-color);
--ls-callout-background-color: rgba(69, 75, 78, 0.3);
--ls-codeblock-background-color: var(--ls-tertiary-background-color);
--ls-codeblock-linenumber-color: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + 26%));
--ls-block-properties-background-color: var(--ls-tertiary-background-color);
--ls-block-ref-link-text-color: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + 44%));
--ls-search-background-color: var(--ls-primary-background-color);
--ls-border-color: hsl(var(--primary-hue), var(--bg-saturation), calc(var(--bg-lightness) + 11%));
--ls-guideline-color: var(--ls-tertiary-background-color);
--ls-menu-hover-color: var(--ls-secondary-background-color);

--ls-primary-text-color: hsla(var(--secondary-hue), 0%, 100%, 90%);
--ls-secondary-text-color: hsl(var(--secondary-hue), 0%, 87%);
--ls-title-text-color: var(--ls-primary-text-color);

--ls-link-ref-text-color: hsl(var(--secondary-hue), var(--link-saturation), var(--link-lightness));
--ls-link-ref-text-hover-color: var(--ls-primary-text-color);
--ls-link-text-color: var(--ls-link-ref-text-color);
--ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);

--ls-alink-color: var(--ls-link-text-color);
--bf-external-link-color: hsl(var(--secondary-hue), 88%, 71%);
--bf-external-link-hover-color: hsl(var(--secondary-hue), 79%, 76%);

--ls-active-primary-color: var(--ls-link-ref-text-color);
--ls-active-secondary-color: hsl(var(--secondary-hue), 80%, 69%);

--ls-tag-text-color: white;
--ls-tag-text-hover-color: white;
--ls-tag-background-color: var(--ls-tertiary-background-color);
--ls-tag-background-hover-color: var(--ls-quaternary-background-color);

--ls-slide-background-color: var(--ls-primary-background-color);

--ls-block-bullet-border-color: #ffffff14;
--ls-block-bullet-color: #ffffff1c;

--ls-block-highlight-color: var(--ls-tertiary-background-color);

--ls-selection-background-color: hsla(var(--primary-hue), 70%, 70%, 50%);

--ls-page-checkbox-color: var(--ls-secondary-background-color);
--ls-page-checkbox-border-color: var(--ls-secondary-background-color);

--ls-page-blockquote-border-color: var(--ls-primary-text-color);
--ls-page-inline-code-color: hsl(0, 79%, 63%);
--ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
--ls-page-properties-background-color: var(--ls-tertiary-background-color);

--ls-scrollbar-foreground-color: var(--ls-block-bullet-color);
--ls-scrollbar-background-color: #fff0;
--ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);

--ls-head-text-color: #ffe27c;
--ls-icon-color: rgb(154, 161, 165);
--ls-search-icon-color: var(--ls-quaternary-background-color);
--ls-a-chosen-bg: var(--ls-secondary-background-color);
--ls-right-sidebar-code-bg-color: hsl(331, 88%, 13%);

--color-level-1: var(--ls-secondary-background-color);
--color-level-2: var(--ls-tertiary-background-color);
--color-level-3: var(--ls-quaternary-background-color);
--color-level-4: #632f46;
--color-level-5: #865673;
--color-level-6: #9e6889;

--ls-block-bullet-threading-width: 2px;
--ls-block-bullet-active-color: #4a99b9;
}

.content span:not(.page-reference) a {
color: var(--ls-link-text-color);
}
.content span:not(.page-reference) a:hover {
color: var(--ls-primary-text-color);
}

.form-checkbox, form-checkbox:checked {
border: none;
background-color: var(--ls-quaternary-background-color);
}

/*****************************************
Common Theme
*****************************************/
.cp__header a {
color: var(--ls-primary-text-color);
}
.cp__header a svg {
color: var(--ls-primary-text-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn {
color: var(--ls-primary-text-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover {
background-color: var(--ls-quaternary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button {
background-color: var(--ls-secondary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button:hover {
background: var(--ls-tertiary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.toggle:hover {
color: var(--ls-primary-text-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover {
background-color: var(--ls-quaternary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button {
background-color: var(--ls-secondary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button:hover {
background: var(--ls-tertiary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.toggle:hover {
color: var(--ls-primary-text-color);
}

/*****************************************
Dark Theme
*****************************************/
.dark-theme #left-bar .close-panel-btn {
color: var(--ls-primary-text-color);
opacity: 0.6;
}

.shadow-lg {
box-shadow: none;
}
a.tag[data-ref] {
align-items: center;
background-color: var(--ls-tag-background-color);
border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
display: inline-flex;
line-height: 0.8rem;
padding: 0.3rem 0.4rem 0.3rem 0.4rem;
white-space: nowrap;
}

a.tag[data-ref]:hover {
background-color: var(--ls-tag-background-hover-color);
}

a.tag[data-ref] {
align-items: center;
background-color: var(--ls-tag-background-color);
border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
display: inline-flex;
line-height: 0.8rem;
padding: 0.3rem 0.4rem 0.3rem 0.4rem;
white-space: nowrap;
}

a.tag[data-ref]:hover {
background-color: var(--ls-tag-background-hover-color);
}


/*****************************************
Code Mirror
*****************************************/
.cm-s-solarized,
.cm-s-solarized.cm-s-dark {
background-color: var(--ls-codeblock-background-color);
text-shadow: unset;
}
.cm-s-solarized.CodeMirror,
.cm-s-solarized.cm-s-dark.CodeMirror {
-moz-box-shadow: unset;
-webkit-box-shadow: unset;
box-shadow: unset;
}
.cm-s-solarized .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
background-color: var(--ls-codeblock-background-color);
}
.cm-s-solarized .CodeMirror-linenumber,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
text-shadow: unset;
color: var(--ls-codeblock-linenumber-color);
}

/* theme general */
.extensions__code .extensions__code-lang {
background-color: var(--ls-codeblock-background-color);
margin-right: 5px;
margin-top: 10px;
}
.extensions__code textarea {
color: var(--ls-primary-text-color);
background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror {
color: var(--ls-secondary-text-color);
font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
margin-top: 10px;
margin-bottom: 10px;
padding: 25px 10px 24px 20px;
}
.extensions__code .CodeMirror .CodeMirror-gutters {
background-color: var(--ls-codeblock-background-color);
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-cursors .CodeMirror-cursor {
border-left: solid thin #82aaff;
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-code {
outline: 0;
font-size: 0.85em;
}

.extensions__code-calc {
padding-top: 25px;
margin-top: 10px;
right: 20px;
}

.white-theme .cp__right-sidebar .CodeMirror,
.white-theme .cp__right-sidebar .CodeMirror-gutters,
.white-theme .cp__right-sidebar .extensions__code-lang {
background-color: rgba(242, 241, 238, 0.95);
}

/* Rewrite .cm-s-solarized */
.cm-s-solarized .CodeMirror-activeline-background {
background: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
background-color: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized .CodeMirror-matchingbracket {
text-decoration: underline;
color: #5bdfdf !important;
}
.cm-s-solarized span.cm-comment {
color: #a0a0a0;
}
.cm-s-solarized span.cm-string,
.cm-s-solarized span.cm-string-2 {
color: #e6c963;
}
.cm-s-solarized span.cm-number {
color: #978ade;
}
.cm-s-solarized span.cm-variable {
color: #82aaff;
}
.cm-s-solarized span.cm-variable-2 {
color: rgba(255, 255, 255, 0.7);
}
.cm-s-solarized span.cm-def {
color: var(--ls-secondary-text-color);
}
.cm-s-solarized span.cm-operator {
color: #f15f60;
}
.cm-s-solarized span.cm-keyword {
color: #f15f60;
}
.cm-s-solarized span.cm-atom {
color: #978ade;
}
.cm-s-solarized span.cm-meta {
color: white;
}
.cm-s-solarized span.cm-tag {
color: #f07178;
}
.cm-s-solarized span.cm-attribute {
color: #c792ea;
}
.cm-s-solarized span.cm-qualifier {
color: #41b394;
}
.cm-s-solarized span.cm-property {
color: #9bd174;
}
.cm-s-solarized span.cm-builtin {
color: #45add6;
}
.cm-s-solarized span.cm-variable-3,
.cm-s-solarized span.cm-type {
color: orange;
}

.white-theme .cm-s-solarized .CodeMirror-selected {
background-color: rgba(168, 175, 255, 0.2);
}
.white-theme .cm-s-solarized span.cm-string,
.white-theme .cm-s-solarized span.cm-string-2 {
color: orange;
}
.white-theme .cm-s-solarized span.cm-variable-2 {
color: rgba(0, 0, 0, 0.7);
}
.white-theme .cm-s-solarized span.cm-def {
color: var(--ls-secondary-text-color);
}
.white-theme .cm-s-solarized span.cm-meta {
color: var(--ls-secondary-text-color);
}

/* Old Version */
.white-theme .cm-s-default.CodeMirror,
.white-theme .cm-s-default .CodeMirror-gutters {
color: black !important;
border: none;
}

.cm-s-default .CodeMirror-cursor {
border-left: solid thin white;
}

.white-theme .cm-s-default .CodeMirror-cursor {
border-left: solid thin black;
}

.cm-s-default .CodeMirror-selected {
background: rgba(255, 255, 255, 0.1);
}

.white-theme .cm-s-default .CodeMirror-selected {
background: rgba(0, 0, 0, 0.1);
}

.cm-s-default .CodeMirror-line {
box-shadow: none;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
background: rgba(255, 255, 255, 0.1);
}

.cm-s-default span.cm-comment {
color: #a0a0a0;
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
color: #e6c963;
}

.white-theme .cm-s-default span.cm-string,
.white-theme .cm-s-default span.cm-string-2 {
color: orange;
}

.cm-s-default span.cm-number {
color: #978ade;
}

.cm-s-default span.cm-variable {
color: #82aaff;
}

.cm-s-default span.cm-variable-2 {
color: rgba(255, 255, 255, 0.7);
}

.white-theme .cm-s-default span.cm-variable-2 {
color: rgba(0, 0, 0, 0.7);
}

.cm-s-default span.cm-def {
color: #fff;
}

.white-theme .cm-s-default span.cm-def {
color: black;
}

.cm-s-default span.cm-operator {
color: #f15f60;
}

.cm-s-default span.cm-keyword {
color: #f15f60;
}

.cm-s-default span.cm-atom {
color: #978ade;
}

.cm-s-default span.cm-meta {
color: white;
}

.white-theme .cm-s-default span.cm-meta {
color: black;
}

.cm-s-default span.cm-tag {
color: #f07178;
}

.cm-s-default span.cm-attribute {
color: #c792ea;
}

.cm-s-default span.cm-qualifier {
color: #41b394;
}

.cm-s-default span.cm-property {
color: #9bd174;
}

.cm-s-default span.cm-builtin {
color: #45add6;
}

.cm-s-default span.cm-variable-3,
.cm-s-default span.cm-type {
color: orange;
}

.cm-s-default .CodeMirror-activeline-background {
background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
text-decoration: underline;
color: #5bdfdf !important;
}

#right-sidebar pre.CodeMirror-line {
background: transparent;
}
